In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso
import warnings
warnings.filterwarnings(action='ignore')

In [3]:
df = pd.read_csv('delhi_houseprice.csv')
df

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0
...,...,...,...,...,...,...,...,...,...,...,...
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,3.0,55000000,Ready_to_move,New_Property,Builder_Floor,12916.0
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,3.0,12500000,Ready_to_move,Resale,Builder_Floor,12916.0
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,3.0,17500000,Ready_to_move,New_Property,Builder_Floor,12916.0
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park Block A,1.0,11500000,Ready_to_move,Resale,Builder_Floor,12916.0
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,1.0,18500000,Ready_to_move,New_Property,Builder_Floor,12916.0

In [4]:
df.shape

(1259, 11)

In [5]:
df.head()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0

In [6]:
df.tail()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,3.0,55000000,Ready_to_move,New_Property,Builder_Floor,12916.0
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,3.0,12500000,Ready_to_move,Resale,Builder_Floor,12916.0
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,3.0,17500000,Ready_to_move,New_Property,Builder_Floor,12916.0
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park Block A,1.0,11500000,Ready_to_move,Resale,Builder_Floor,12916.0
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,1.0,18500000,Ready_to_move,New_Property,Builder_Floor,12916.0

In [7]:
columns_to_drop = ['Furnishing', 'Parking', 'Status', 'Transaction', 'Type', 'Per_Sqft']
df = df.drop(columns=columns_to_drop)

# Display the updated DataFrame
print(df.head())

    Area  BHK  Bathroom                                           Locality  \
0  800.0    3       2.0                                   Rohini Sector 25
1  750.0    2       2.0             J R Designers Floors, Rohini Sector 24
2  950.0    2       2.0                Citizen Apartment, Rohini Sector 13
3  600.0    2       2.0                                   Rohini Sector 24
4  650.0    2       2.0  Rohini Sector 24 carpet area 650 sqft status R...

      Price
0   6500000
1   5000000
2  15500000
3   4200000
4   6200000

In [8]:
df

,Area,BHK,Bathroom,Locality,Price
0,800.0,3,2.0,Rohini Sector 25,6500000
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",5000000
2,950.0,2,2.0,"Citizen Apartment, Rohini Sector 13",15500000
3,600.0,2,2.0,Rohini Sector 24,4200000
4,650.0,2,2.0,Rohini Sector 24 carpet area 650 sqft status R...,6200000
...,...,...,...,...,...
1254,4118.0,4,5.0,Chittaranjan Park,55000000
1255,1050.0,3,2.0,Chittaranjan Park,12500000
1256,875.0,3,3.0,Chittaranjan Park,17500000
1257,990.0,2,2.0,Chittaranjan Park Block A,11500000
1258,11050.0,3,3.0,Chittaranjan Park,18500000

In [9]:
df.isnull().sum()

Area        0
BHK         0
Bathroom    2
Locality    0
Price       0
dtype: int64

In [18]:
mode = df["Bathroom"].mode()
mode

0    2.0
Name: Bathroom, dtype: float64

In [20]:
df["Bathroom"].fillna(2.0, inplace=True)
df

,Area,BHK,Bathroom,Locality,Price
0,800.0,3,2.0,Rohini Sector 25,6500000
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",5000000
2,950.0,2,2.0,"Citizen Apartment, Rohini Sector 13",15500000
3,600.0,2,2.0,Rohini Sector 24,4200000
4,650.0,2,2.0,Rohini Sector 24 carpet area 650 sqft status R...,6200000
...,...,...,...,...,...
1254,4118.0,4,5.0,Chittaranjan Park,55000000
1255,1050.0,3,2.0,Chittaranjan Park,12500000
1256,875.0,3,3.0,Chittaranjan Park,17500000
1257,990.0,2,2.0,Chittaranjan Park Block A,11500000
1258,11050.0,3,3.0,Chittaranjan Park,18500000

In [22]:
df.isnull().sum()

Area        0
BHK         0
Bathroom    0
Locality    0
Price       0
dtype: int64

In [24]:
duplicates=df[df.duplicated()]
duplicates

,Area,BHK,Bathroom,Locality,Price
84,1540.0,3,3.0,"Nav Kairali Apartment, Dwarka Sector 3",14500000
92,1450.0,3,3.0,Lajpat Nagar 3,30000000
93,1260.0,3,3.0,Lajpat Nagar 3,21000000
94,2925.0,4,4.0,Lajpat Nagar 3,57500000
96,1600.0,3,3.0,Lajpat Nagar 3,30000000
...,...,...,...,...,...
1164,1300.0,2,2.0,"Yamuna Apartment, Alaknanda",15000000
1165,1200.0,2,2.0,"Nilgiri Apartment, Alaknanda",14300000
1166,1300.0,3,2.0,"Nilgiri Apartment, Alaknanda",18500000
1167,1400.0,3,3.0,"Tara Apartment, Alaknanda carpet area 1400 sqf...",19000000
1168,1400.0,3,3.0,Alaknanda,19000000

In [26]:
df=df.drop_duplicates()
df

,Area,BHK,Bathroom,Locality,Price
0,800.0,3,2.0,Rohini Sector 25,6500000
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",5000000
2,950.0,2,2.0,"Citizen Apartment, Rohini Sector 13",15500000
3,600.0,2,2.0,Rohini Sector 24,4200000
4,650.0,2,2.0,Rohini Sector 24 carpet area 650 sqft status R...,6200000
...,...,...,...,...,...
1254,4118.0,4,5.0,Chittaranjan Park,55000000
1255,1050.0,3,2.0,Chittaranjan Park,12500000
1256,875.0,3,3.0,Chittaranjan Park,17500000
1257,990.0,2,2.0,Chittaranjan Park Block A,11500000
1258,11050.0,3,3.0,Chittaranjan Park,18500000

In [28]:
df.rename(columns={'Locality': 'location'}, inplace=True)
df

,Area,BHK,Bathroom,location,Price
0,800.0,3,2.0,Rohini Sector 25,6500000
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",5000000
2,950.0,2,2.0,"Citizen Apartment, Rohini Sector 13",15500000
3,600.0,2,2.0,Rohini Sector 24,4200000
4,650.0,2,2.0,Rohini Sector 24 carpet area 650 sqft status R...,6200000
...,...,...,...,...,...
1254,4118.0,4,5.0,Chittaranjan Park,55000000
1255,1050.0,3,2.0,Chittaranjan Park,12500000
1256,875.0,3,3.0,Chittaranjan Park,17500000
1257,990.0,2,2.0,Chittaranjan Park Block A,11500000
1258,11050.0,3,3.0,Chittaranjan Park,18500000

In [30]:
df['location'].unique()

array(['Rohini Sector 25', 'J R Designers Floors, Rohini Sector 24',
       'Citizen Apartment, Rohini Sector 13', 'Rohini Sector 24',
       'Rohini Sector 24 carpet area 650 sqft status Ready to Move floor 4 out of 4 floors transaction New Property furnishing Semi-Furnished facing East overlooking Garden/Park, Main Road car parking 1 Open bathroom 2 balcony 1 ownership Freehold Newly Constructed Property Newly Constructed Property East Facing Property 2BHK Newly build property for Sale. A House is waiting for a Friendly Family to make it a lovely home.So please come and make his house feel alive once again. read more Contact Agent View Phone No. Share Feedback Garima properties Certified Agent Trusted by Users Genuine Listings Market Knowledge',
       'Delhi Homes, Rohini Sector 24', 'Rohini Sector 21',
       'Rohini Sector 22', 'Rohini Sector 20',
       'Rohini Sector 8 How Auctions work? The borrower has the physical possession of the Property. However the lender (Bank) can legally sell the Property. super area 32 sqm status Ready to Move floor 1 transaction Resale furnishing Semi-Furnished Contact Now Enquire Now Auction By',
       'Rohini Sector 25 carpet area 660 sqft status Ready to Move floor 2 out of 4 floors transaction New Property furnishing Semi-Furnished facing North overlooking Garden/Park, Main Road car parking 1 Open bathroom 2 balcony 1 ownership Freehold Newly Constructed Property Newly Constructed Property Near by Ryan international school 2BHK Located on the Ground Floor of a four story building with open parking the flat measure 720 Sq Ft the property is located in a green and plush sector with common parks opposite every lane and bus and auto stand nearby. its situated 1.5 km from the metro station and walkable distance from shopping distance from shopping complex. read more Contact Agent View Phone No. Share Feedback Know your Certified Agent CRISIL Rating No of Employees 9 Kulwant & Company Certified Agent Trusted by Users Genuine Listings 5500+ Buyers Served',
       'Rohini Sector 16', 'Rohini Sector 14',
       'Mayur Apartment, Rohini Sector 9', 'Vijay Vihar, Rohini',
       'Rohini Sector 18 carpet area 40 sqm status Ready to Move floor 2 out of 4 floors transaction Resale furnishing Furnished facing East overlooking Main Road car parking 2 Open bathroom 1 balcony 1 ownership Freehold East Facing Property It an LIG three side corner flat in second floor, having full scope of expansion. interior decorated with 2 textured wall , kajaria tiles , fully modular kitchen, branded bathroom and toilet fittings, LED panel, ac in one bedroom, false ceiling in entire flat.south facing unobstructed view balcony. It was all renovated only 2.5 yrs back so every thing is in brand new condition. read more Contact Owner View Phone No. Share Feedback Owner Pramod',
       'Prashant Vihar, Rohini', 'Rohini Sector 5',
       'Sanskriti Apartment, Rohini Sector 28', 'Rohini Sector 19',
       'Lajpat Nagar 2', 'Lajpat Nagar 1', 'Lajpat Nagar',
       'Vikram Vihar, Lajpat Nagar', 'Lajpat Nagar 4', 'Lajpat Nagar 3',
       'Dayanand Colony, Lajpat Nagar How Auctions work? The borrower has the physical possession of the Property. However the lender (Bank) can legally sell the Property. super area 810 sqft status Ready to Move floor 1 out of 5 floors transaction Resale balcony 1 Contact Now Enquire Now Auction By Bank',
       'Amar Colony, Lajpat Nagar',
       'DDA Flats Sector 14, Dwarka Sector 14',
       'Siddhartha Heights, Dwarka Sector 24',
       'MTNL Employees House Welfare Society, Dwarka Sector 24',
       'Delhi Homes Yojana, Dwarka Sector 24',
       'The Elite Spire, Dwarka Sector 21',
       'Kunj Vihar Apartment, Dwarka Sector 12',
       'Ashirwad Apartments, Dwarka Sector 12',
       'Sunny Valley Apartments, Dwarka',
       'Shri Agrasen Apartment, Dwarka Sector 7',
       'Chopra Apartment, Dwarka Sector 23',
       'Mohinder Apartments, Dwarka Sector 12',
       'Chander Lok Apartment, Dwarka Sector 19',
       'Neelachal, Dwarka Sector 5', 'Dwarka',
       'MeeraBai Apartment, Dwarka Sector 5',
       'Crescent Apartments, Dwarka Sector 18',
       'Ashoka Enclave Apartment, Dwarka Sector 11',
       'Nav Kairali Apartment, Dwarka Sector 3',
       'Ashirwad Apartments, Dwarka',
       'Indraprastha Apartment, Dwarka Sector 12',
       'Mohinder Apartments, Dwarka',
       'Ashoka Apartments, Dwarka Sector 12',
       'Karuna Vihar Apartment, Dwarka', 'LNT Apartments, Dwarka',
       'Dwarka Sector 4',
       'Dwarka Sector 3 carpet area 400 sqft status Ready to Move floor 1 out of 4 floors transaction New Property furnishing Semi-Furnished facing West overlooking Main Road bathroom 1 balcony 1 ownership Freehold Newly Constructed Property 1BHK freehold property , reserved parking, ample space for visitor parking, bathrooms with modern facilities, complete light in all room, wooden wardrobes in bedrooms, separate electric & water meter connection, separate water tank at roof, electronic door lock system with intercom facility, wall to wall POP work, fall ceiling work in all rooms, royal paint work in all rooms, 24X7 running water, branded electric fittings, modular kitchen with electronic chimney, marble vitrified tile flooring, near to metro station, well connected to main road ect. 80 to 90 home loan available. Ready to move read more Contact Agent View Phone No. Share Feedback Agent S.B. Associates 4000+ Buyers Served',
       'Dwarka Sector 16B', 'Vinoba Puri, Lajpat Nagar', 'Budh Vihar',
       'Budh Vihar super area 50 sqyrd status Ready to Move floor Ground out of 2 floors transaction Resale furnishing Unfurnished facing East car parking 1 Open bathroom 1 balcony 2 ownership Freehold For Sale 2 BHK 50 yrd, 2 side open Ground Floor, First and Second Floor in H Block, Gali No. 04, Near Laxmi Narain Mandir, BudhVihar read more Contact Agent View Phone No. Share Feedback Agent Sahyog Properties 1000+ Buyers Served',
       'Budh Vihar Phase 1', 'Budh Vihar Phase 2',
       'Saptrishi Apartment, Rohini Sector 23', 'Rohini Sector 23',
       'Rohini ( 1 km from Shahbad Dairy, Rohini)',
       'The Leela Sky Villas, Patel Nagar',
       'Uttam Nagar Floors, Uttam Nagar', 'Virat Residency, Dwarka Mor',
       'Find Homes, Greater Kailash 2', 'Adarsh Homes, Dwarka Mor',
       'Kushwaha Homes, Uttam Nagar', 'Godrej South Estate, Okhla',
       'APL Builder Floor, Greater Kailash 1', 'Janakpuri Block A3',
       'Greater Kailash 2', 'Partap Homes, Bhagwati Vihar, Uttam Nagar',
       'The Amaryllis, Karol Bagh',
       'Diamond Heights Multi Estate, Najafgarh',
       'Vasant Vihar Builder Floor, Vasant Vihar', 'Vasant Kunj',
       'Greater Kailash 1', 'Khanpur, Madangir', 'Batla House, Okhla',
       'Friends Colony West, New Friends Colony', 'New Friends Colony',
       'Maharani Bagh, New Friends Colony',
       'New Friends Colony carpet area 4300 sqft status Ready to Move floor 2 out of 3 floors transaction Resale furnishing Unfurnished facing North - East overlooking Garden/Park, Main Road car parking 2 Covered, 2 Open bathroom 4 balcony 3 ownership Freehold hurry up... dont waste time any where, It is best deal in your pocket budget.well maintained second floor with terrace garden plus 2 additional room on terrace up for sale in new friends colony.the property has 4 king sized bedroom attached bathroom with roof top shower with Jacuzzi. It has 3 big balconies with wonderful outer view. It has modular kitchen with new fittings. It has servant quarter pooja room study room store room etc. It has drawing & dining. It has 2 car parking with gated society. It has 247 hours water supply with full power backup. It is in amazing location. read more Contact Agent View Phone No. Share Feedback Crisil Silver Agent Sagar Home Developers Pvt. Ltd. 1000+ Buyers Served',
       'Friends Colony East, New Friends Colony',
       'Kalindi Colony, Maharani Bagh, New Friends Colony',
       'Taimoor Enclave, New Friends Colony carpet area 2800 sqft status Ready to Move floor 2 out of 3 floors transaction Resale furnishing Semi-Furnished facing East overlooking Garden/Park society Taimoor Enclave car parking 2 Covered, 1 Open bathroom 4 balcony 2 ownership Freehold Two floor of the house is available for sale SECOND AND THIRD FLOOR EXTRA made, provision for LIFT can be provided by the OWNER .DDA FLATS of TAIMOOR ENCLAVE, NEAR GURUDWARA, NEW FRIENDS COLONY, SOUTH DELHI , HOUSE IS ON THE SECOND FLOOR have 3 bed room and 2 wash room and and same on the Third Floor, URGENT SALE, BROKER EXCUSE. read more Contact Agent View Phone No. Share Feedback Agent Delhi Homes 100+ Buyers Served',
       'New Friends Colony Floors, New Friends Colony',
       'Kailash Colony, Greater Kailash', 'Ram Nagar, Shahdara',
       'Jyoti Nagar West, Shahdara',
       'Hans Apartments, Vishwas Nagar, Shahdara',
       'Naveen Shahdara, Shahdara', 'Balbir Nagar, Shahdara',
       'Rohitash Nagar East, Shahdara', 'Shahdara',
       'Vishwas Nagar, Shahdara',
       'DDA RPS Flats, Mansarowar Park, Shahdara',
       'Yamuna Vihar, Shahdara', 'Rohtash Nagar, Shahdara',
       'Ram Nagar Extension, Shahdara', 'Maujpur, Shahdara',
       'Mansarowar Park, Shahdara', 'Gorakh Park West, Shahdara',
       'Shivnam Apartment, Shahdara', 'Jyoti Colony, Shahdara',
       'Ahinsha Vatika, Ram Nagar, Shahdara',
       'mind. The space is airy, is well located and can be easily customized as per the needs. Prime facilities are easily accessible from this place with Government Girls Senior Secondary School No 2 (0 km ). Other key neighbourhood are B Block Market (0 km ). read more Contact Owner View Phone No. Share Feedback Owner vinod kumar',
       'Laxmi Nagar', 'Guru Angad Nagar West, Laxmi Nagar',
       'Lalita Park, Laxmi Nagar', 'Krishan Kunj, Laxmi Nagar',
       'Laxmi Nagar super area 450 sqft status Ready to Move floor 3 out of 4 floors transaction New Property furnishing Semi-Furnished facing East overlooking Main Road bathroom 2 balcony 1 ownership Freehold Newly Constructed Property East Facing Property This Builder Floor Apartment at 3rd faces East & overlooks Main Road offering a beautiful view from the house. with airy interiors. The type of ownership is Freehold. The Builder Floor Apartment is newly constructed. Bank loans available from LIC Housing Finance, Kotak Mahindra Bank, Indiabulls. Flooring of type Marble covers maximum part of the house. The location has easy access to, Dena Bank (0 km ), Delhi Convent School (0 km ), DDA Market (0 km ) and Nirman Vihar Metro Station (2 km ). read more Contact Owner View Phone No. Share Feedback Owner Sonia',
       "Laxmi Nagar carpet area 1000 sqft status Ready to Move floor 1 out of 4 floors transaction Resale furnishing Furnished bathroom 3 balcony 1 It's a 1st floor Builder Floor Apartment in a building of total 4 floors. The age of construction for this Builder Floor Apartment is between 10 to 15 years. The location has easy access to, Dena Bank (0 km ), Delhi Convent School (0 km ), DDA Market (0 km ) and Nirman Vihar Metro Station (2 km ). read more Contact Owner View Phone No. Share Feedback Owner Vipul Jain",
       'Bank Enclave, Laxmi Nagar', 'Uttam Nagar', 'Dwarka Mor',
       'Uttam Nagar West', 'SB Residency, Dwarka Mor',
       'Kiran Garden, Uttam Nagar', 'Mohan Garden, Razapur Khurd',
       'Mitya Homes, Dwarka Mor',
       'Uttam Nagar carpet area 550 sqft status Ready to Move transaction New Property furnishing Semi-Furnished facing East overlooking Main Road bathroom 2 balcony 1 ownership Freehold Newly Constructed Property Newly Constructed Property East Facing Property 2bhk fully furnished flats available for sale at uttam nagar, the flat is fully loaded, one singal wall texture in all bedrooms, modular kitchen, LED pannel in drawing room, wardrobes in bedroom read more Contact Agent View Phone No. Share Feedback Pranita Developers Pvt. Ltd. Certified Agent Trusted by Users Genuine Listings 100+ Buyers Served',
       'New Uttam Nagar, Uttam Nagar', 'Patel Nagar South, Patel Nagar',
       'Patel Nagar West', 'Patel Nagar East, Patel Nagar',
       'Punjabi Basti, Patel Nagar', 'Baljit Nagar, Patel Nagar',
       'DDA Flats Vasant Kunj, Vasant Kunj Sector B',
       'DDA Flats Vasant Kunj, Vasant Kunj carpet area 1200 sqft status Ready to Move floor 5 out of 7 floors transaction Resale furnishing Semi-Furnished facing North - West overlooking Garden/Park, Main Road society DDA Flats Vasant Kunj car parking 1 Covered, 1 Open bathroom 2 balcony 2 ownership Freehold A southEAST facing 3 bhk resale flat is available in the promising locality of sectorE vasant kunj vasant kunj, delhi south. It is a ready to move in spacious flat and is located on the 5th floor. Every single detail of the flat is carefully designed. This property offers quality specifications such as lifts, park, water storage and securityfire alar. It is a gated society flat. It provides a spectacular view of the main road and parkgarden. The apartment is priced at rs. 2 cr. It is a freehold property, with a super builtUp area of 1600 sq. Ft. The property price is negotiable. read more Contact Agent Enquire Now Share Feedback Crisil Silver Agent Link Properties Pvt. Ltd. 5000+ Buyers Served',
       'DDA Flats Vasant Kunj, Vasant Kunj',
       'DDA Flats Pocket 1, Vasant Kunj Sector B',
       'Saraswati Narmada Ganga Yamuna Apartment, Vasant Kunj Sector D',
       'DDA Flats Sector E Pocket 1, Vasant Kunj',
       'DDA Flats Vasant Kunj, Vasant Kunj Sector D',
       'Vasant Kunj Sector A', 'E2 Vasant Kunj, Vasant Kunj',
       'Ganga Apartment Sector D Pocket 6, Vasant Kunj',
       'Vasant Kunj Sector C', 'Vasant Kunj Sector D',
       'DDA Flats Vasant Kunj, Vasant Kunj Sector C',
       'Kishangarh, Vasant Kunj', 'DDA Pocket 1, Vasant Kunj Sector D',
       'Vasant Kunj Sector B', 'Gandhi Nagar, Shahdara',
       'DDA Flats Mansarovar Park, Seelampur, Shahdara',
       'Seelampur, Shahdara', 'Shanti Mohalla, Shahdara',
       'Rajgarh Colony, Shahdara', 'Kanti Nagar East, Shahdara',
       'Raghubarpura, Shahdara', 'Sukhdev Vihar, Okhla', 'Geeta Colony',
       'Krishna Nagar Block A', 'Taj Enclave, Khairatabad',
       'Shastri Park, Shahdara', 'Sitaram Bazar, Chandni Chowk',
       'Shahdara How Auctions work? The borrower has the physical possession of the Property. However the lender (Bank) can legally sell the Property. super area 852 sqft status Ready to Move transaction Resale ownership Freehold bathroom 2 Contact Now Enquire Now Auction By',
       'Saket', 'Anupam Enclave, Saket', 'RWA Flats, Saket',
       'Metrotech Builder Floors, Saket',
       'Saket Court Residential Complex, Saket',
       'Press Enclave Society, Saket',
       'Project Paryavaran Complex, Saket', 'Safdarjung Enclave',
       'Arjun Nagar, Safdarjung Enclave',
       "Safdarjung Enclave carpet area 1100 sqft status Ready to Move floor Ground out of 4 floors transaction Resale furnishing Unfurnished facing North - East overlooking Garden/Park, Main Road car parking 1 Covered, 1 Open bathroom 3 balcony 3 ownership Freehold if you are searching for your dream house, congratulation. you're not so far from your destiny. we got unbeatable ground floor in b-block safdarjung enclave for sale. it is in 150 yds. It has 3 large king sized bedroom attached bathroom with Jacuzzi and roof top shower with all other fittings. it has modular kitchen with all needed facility. it has 3 big balcony with amazing out side view. it has 1 servant quarter also. it has 1 reserved car parking with gated society. It has 24*7 water supply with full power backup. for more information contact us at once because it can be your dream house. read more Contact Agent View Phone No. Share Feedback Crisil Silver Agent Sagar Home Developers Pvt. Ltd. 1000+ Buyers Served",
       'Krishna Nagar-Safdarjung Enclave',
       'Safdarjung Enclave carpet area 3250 sqft status Ready to Move floor 1 out of 4 floors transaction Resale furnishing Semi-Furnished facing North - East overlooking Garden/Park, Main Road car parking 1 Covered bathroom 4 balcony 3 ownership Freehold Near Buy Green park Metro station. The location of the property is Awesome and Peaceful. The construction is very Highend and Very tasteful Done-up. The Same property is location on the FF. 4 Side corner read more Contact Agent Enquire Now Share Feedback Crisil Silver Agent Findahouse Real Estate Consultants LLP 2000+ Buyers Served',
       'Safdarjung Enclave carpet area 290 sqyrd status Ready to Move floor 2 out of 3 floors transaction Resale furnishing Semi-Furnished facing West overlooking Main Road car parking 2 Open bathroom 4 balcony 3 ownership Freehold Opposite Deer Park.The property comes with independent Terrace. The area is centrally located and close to ring road which allows easy acess to all other areas.Renowned Delhi Lawn Tennis Association is within 10 minutes walking distance.Green park market is walkable distance. read more Contact Owner View Phone No. Share Feedback Owner Hemant pajankar',
       'Safdarjung Enclave carpet area 1450 sqft status Ready to Move floor 3 out of 4 floors transaction Resale furnishing Semi-Furnished facing North - East overlooking Garden/Park, Main Road car parking 1 Covered, 1 Open bathroom 3 balcony 2 ownership Freehold Park facing builder floor apartment available for sale in safderjung enclave, 3 bedroom with attached bathroom, drawing dinning, modular kitchen. the property is on the top floor of a four storey building with terrace right, servant quarter, 1 car parking in stilt. read more Contact Agent View Phone No. Share Feedback Agent Delhi Homes Realty 1000+ Buyers Served',
       'Safdarjung Enclave super area 2200 sqft status Ready to Move floor 2 out of 4 floors transaction New Property furnishing Semi-Furnished facing South overlooking Main Road car parking 3 Covered, 2 Open bathroom 4 balcony 3 ownership Freehold Newly Constructed Property Wide Road 450 Yards 2nd floor brand new 4 bhk attached bathrooms with full lighted and ventilated house.Most Valuable DealSEE TO BELIEVE read more Contact Agent View Phone No. Share Feedback Crisil Bronze Agent Panchsheel Homes 500+ Buyers Served',
       'Reserve Bank Enclave, Paschim Vihar', 'Paschim Vihar',
       'Pushkar Enclave, Paschim Vihar', 'Paschim Vihar Block B2',
       'Paschimpuri, Paschim Vihar', 'Paschim Vihar Block B4',
       'Paschim Vihar How Auctions work? The borrower has the physical possession of the Property. However the lender (Bank) can legally sell the Property. carpet area 780 sqft status Ready to Move floor Ground out of 3 floors transaction Resale furnishing Unfurnished facing West bathroom 2 balcony 1 ownership Freehold Contact Now Enquire Now Auction By Bank',
       'DDA Lig Flats, Paschim Vihar carpet area 45 sqyrd status Ready to Move floor 4 out of 4 floors transaction Resale furnishing Semi-Furnished facing East overlooking Garden/Park, Main Road society DDA Lig Flats bathroom 1 balcony 1 ownership Freehold East Facing Property Expected price for the Flat is kept at 45 Lac. This is a 1 bedroom apartment present in DDA Lig Flats, Paschim Vihar. It measures an area of 45 Sq-m. It is on 4 floor out of 4 floors in the tower and is also well ventilated. The Flat has 1 washroom and also has 1 spacious balcony. read more Contact Owner View Phone No. Share Feedback Owner Anil',
       'Archana Apartment, Paschim Vihar',
       'Guru Harikishan Nagar, Paschim Vihar',
       'Mianwali Nagar, Paschim Vihar',
       'Navbharat Apartment, Paschim Vihar Block B1',
       'Paschim Vihar Block A2', 'LIC Colony, Paschim Vihar',
       'DDA Lig Flats, Paschim Vihar',

In [32]:
df['location'].value_counts()

location
Kailash Colony, Greater Kailash                29
Yamuna Vihar, Shahdara                         28
J R Designers Floors, Rohini Sector 24         27
Lajpat Nagar 3                                 26
Lajpat Nagar 2                                 25
                                               ..
Vasant Kunj Sector B                            1
DDA Pocket 1, Vasant Kunj Sector D              1
Kishangarh, Vasant Kunj                         1
DDA Flats Vasant Kunj, Vasant Kunj Sector C     1
Chittaranjan Park Block A                       1
Name: count, Length: 365, dtype: int64

In [35]:
df['location'] = df['location'].apply(lambda x: x.strip())
location_count = df['location'].value_counts()

In [37]:
location_count_less_10 = location_count[location_count<=10]
location_count_less_10

location
Mahavir Enclave                                10
Alaknanda                                      10
New Manglapuri, Sultanpur                      10
Govindpuri Extension, Kalkaji                   9
Rohini Sector 24                                9
                                               ..
Vasant Kunj Sector B                            1
DDA Pocket 1, Vasant Kunj Sector D              1
Kishangarh, Vasant Kunj                         1
DDA Flats Vasant Kunj, Vasant Kunj Sector C     1
Chittaranjan Park Block A                       1
Name: count, Length: 340, dtype: int64

In [39]:
df['location'] = df['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [41]:
df

         Area  BHK  Bathroom                                location     Price
0       800.0    3       2.0                                   other   6500000
1       750.0    2       2.0  J R Designers Floors, Rohini Sector 24   5000000
2       950.0    2       2.0                                   other  15500000
3       600.0    2       2.0                                   other   4200000
4       650.0    2       2.0                                   other   6200000
...       ...  ...       ...                                     ...       ...
1254   4118.0    4       5.0                       Chittaranjan Park  55000000
1255   1050.0    3       2.0                       Chittaranjan Park  12500000
1256    875.0    3       3.0                       Chittaranjan Park  17500000
1257    990.0    2       2.0                                   other  11500000
1258  11050.0    3       3.0                       Chittaranjan Park  18500000

[1140 rows x 5 columns]

In [43]:
df['location'].value_counts()

location
other                                                           683
Kailash Colony, Greater Kailash                                  29
Yamuna Vihar, Shahdara                                           28
J R Designers Floors, Rohini Sector 24                           27
Lajpat Nagar 3                                                   26
Lajpat Nagar 2                                                   25
Chittaranjan Park                                                24
Laxmi Nagar                                                      22
Mehrauli                                                         21
Saket                                                            21
DDA Flats Sarita Vihar, Sarita Vihar, Mathura Road               19
Safdarjung Enclave                                               18
Chhattarpur                                                      17
Sheikh Sarai Phase 1                                             16
Dilshad Colony, Dilshad Garden                                   16
Mahavir Enclave Part 1                                           15
Common Wealth Games Village, Commonwealth Games Village 2010     15
Patel Nagar West                                                 15
DLF Capital Greens, New Moti Nagar, Kirti Nagar                  14
New Moti Nagar, Kirti Nagar                                      14
New Friends Colony                                               14
The Amaryllis, Karol Bagh                                        13
Malviya Nagar                                                    13
Vasundhara Enclave                                               12
Hauz Khas                                                        12
Sukhdev Vihar, Okhla                                             11
Name: count, dtype: int64

In [45]:
df['location'].unique()

array(['other', 'J R Designers Floors, Rohini Sector 24',
       'Lajpat Nagar 2', 'Lajpat Nagar 3', 'The Amaryllis, Karol Bagh',
       'New Friends Colony', 'Kailash Colony, Greater Kailash',
       'Yamuna Vihar, Shahdara', 'Laxmi Nagar', 'Patel Nagar West',
       'Sukhdev Vihar, Okhla', 'Saket', 'Safdarjung Enclave',
       'Common Wealth Games Village, Commonwealth Games Village 2010',
       'DDA Flats Sarita Vihar, Sarita Vihar, Mathura Road',
       'Chhattarpur', 'Mehrauli', 'Mahavir Enclave Part 1',
       'Malviya Nagar', 'Dilshad Colony, Dilshad Garden',
       'Vasundhara Enclave',
       'DLF Capital Greens, New Moti Nagar, Kirti Nagar',
       'New Moti Nagar, Kirti Nagar', 'Sheikh Sarai Phase 1', 'Hauz Khas',
       'Chittaranjan Park'], dtype=object)

In [47]:
location_mapping = {
    'other': 1,
    'J R Designers Floors, Rohini Sector 24': 2,
    'Lajpat Nagar 2': 3,
    'Lajpat Nagar 3': 4,
    'The Amaryllis, Karol Bagh': 5,
    'New Friends Colony': 6,
    'Kailash Colony, Greater Kailash': 7,
    'Yamuna Vihar, Shahdara': 8,
    'Laxmi Nagar': 9,
    'Patel Nagar West': 10,
    'Sukhdev Vihar, Okhla': 11,
    'Saket': 12,
    'Safdarjung Enclave': 13,
    'Common Wealth Games Village, Commonwealth Games Village 2010': 14,
    'DDA Flats Sarita Vihar, Sarita Vihar, Mathura Road': 15,
    'Chhattarpur': 16,
    'Mehrauli': 17,
    'Mahavir Enclave Part 1': 18,
    'Malviya Nagar': 19,
    'Dilshad Colony, Dilshad Garden': 20,
    'Vasundhara Enclave': 21,
    'DLF Capital Greens, New Moti Nagar, Kirti Nagar': 22,
    'New Moti Nagar, Kirti Nagar': 23,
    'Sheikh Sarai Phase 1': 24,
    'Hauz Khas': 25,
    'Chittaranjan Park': 26
}

df['location_encoding'] = df['location'].map(location_mapping)
df[['location','location_encoding']]

                                    location  location_encoding
0                                      other                  1
1     J R Designers Floors, Rohini Sector 24                  2
2                                      other                  1
3                                      other                  1
4                                      other                  1
...                                      ...                ...
1254                       Chittaranjan Park                 26
1255                       Chittaranjan Park                 26
1256                       Chittaranjan Park                 26
1257                                   other                  1
1258                       Chittaranjan Park                 26

[1140 rows x 2 columns]

In [49]:
df

,Area,BHK,Bathroom,location,Price,location_encoding
0,800.0,3,2.0,other,6500000,1
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",5000000,2
2,950.0,2,2.0,other,15500000,1
3,600.0,2,2.0,other,4200000,1
4,650.0,2,2.0,other,6200000,1
...,...,...,...,...,...,...
1254,4118.0,4,5.0,Chittaranjan Park,55000000,26
1255,1050.0,3,2.0,Chittaranjan Park,12500000,26
1256,875.0,3,3.0,Chittaranjan Park,17500000,26
1257,990.0,2,2.0,other,11500000,1
1258,11050.0,3,3.0,Chittaranjan Park,18500000,26

In [51]:
columns_to_drop = ['location']
df = df.drop(columns=columns_to_drop)
df

         Area  BHK  Bathroom     Price  location_encoding
0       800.0    3       2.0   6500000                  1
1       750.0    2       2.0   5000000                  2
2       950.0    2       2.0  15500000                  1
3       600.0    2       2.0   4200000                  1
4       650.0    2       2.0   6200000                  1
...       ...  ...       ...       ...                ...
1254   4118.0    4       5.0  55000000                 26
1255   1050.0    3       2.0  12500000                 26
1256    875.0    3       3.0  17500000                 26
1257    990.0    2       2.0  11500000                  1
1258  11050.0    3       3.0  18500000                 26

[1140 rows x 5 columns]

In [53]:
df.rename(columns={'location_encoding': 'location'}, inplace=True)
df

         Area  BHK  Bathroom     Price  location
0       800.0    3       2.0   6500000         1
1       750.0    2       2.0   5000000         2
2       950.0    2       2.0  15500000         1
3       600.0    2       2.0   4200000         1
4       650.0    2       2.0   6200000         1
...       ...  ...       ...       ...       ...
1254   4118.0    4       5.0  55000000        26
1255   1050.0    3       2.0  12500000        26
1256    875.0    3       3.0  17500000        26
1257    990.0    2       2.0  11500000         1
1258  11050.0    3       3.0  18500000        26

[1140 rows x 5 columns]

In [101]:
df.to_csv("Cleaned_data.csv")

In [83]:
output_data=df["Price"]
output_data

0        6500000
1        5000000
2       15500000
3        4200000
4        6200000
          ...
1254    55000000
1255    12500000
1256    17500000
1257    11500000
1258    18500000
Name: Price, Length: 1140, dtype: int64

In [85]:
input_data=df.drop('Price', axis=1)
input_data

         Area  BHK  Bathroom  location
0       800.0    3       2.0         1
1       750.0    2       2.0         2
2       950.0    2       2.0         1
3       600.0    2       2.0         1
4       650.0    2       2.0         1
...       ...  ...       ...       ...
1254   4118.0    4       5.0        26
1255   1050.0    3       2.0        26
1256    875.0    3       3.0        26
1257    990.0    2       2.0         1
1258  11050.0    3       3.0        26

[1140 rows x 4 columns]

In [87]:
X_train,x_test,Y_train,y_test=train_test_split(input_data,output_data,test_size=0.20,random_state=42)

In [89]:
X_train.shape

(912, 4)

In [91]:
x_test.shape

(228, 4)

In [95]:
models = {
    "                     Linear Regression": LinearRegression(),
    " Linear Regression (L2 Regularization)": Ridge(),
    " Linear Regression (L1 Regularization)": Lasso()
    }

for name, model in models.items():
    model.fit(X_train, Y_train)
    print(name + " trained.")

                     Linear Regression trained.
 Linear Regression (L2 Regularization) trained.
 Linear Regression (L1 Regularization) trained.

In [99]:
for name, model in models.items():
    print(name + " R^2 Score: {:.5f}".format(model.score(x_test, y_test)))

                     Linear Regression R^2 Score: 0.64195
 Linear Regression (L2 Regularization) R^2 Score: 0.64198
 Linear Regression (L1 Regularization) R^2 Score: 0.64195

In [103]:
import joblib

In [105]:
joblib.dump(models,"delhi_price_predictor")

['delhi_price_predictor']